button {
    /* Disable double tap to zoom */
    touch-action: manipulation;
    color: black;
}

.btn-atmp3 {
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    border: 0px;
}

button.btn-atmp3:nth-child(odd) {
    background-color: lightgrey;
}

button:nth-child(n):active  {
    background-color: grey;

}

#error-msg {
    color: red;
    margin: 15px;
}

#btn-organizer {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-self: center;
    width: 100%;
    height: 100%;
}

#btn-cont {
    width: 100%;
    height: 80%;
}

#root-cont {
    /* Contains data and buttons */
    display: flex;

    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.data-cont {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.data-holder, .data-value {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 10px;
}


.data-label {
    text-decoration: underline;
}

#desc {
    margin: 10px;
    width: 95vw;
    text-align: center;
    display: none;;
}

#desc input {
    text-align: center;
    font-style: italic;
    font-family: sans-serif;
    margin-bottom: 10px;
}

#view-cont {
    /* Contains everything menu, and buttons */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100dvh;
    width: 100vw;
}

#options {
    display: flex;
    width: 30%;
    justify-content: space-around;
}

#reset-btn:active {
    color: lightgray;
}

.counter {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    color: grey;
    align-self: flex-end;
    display: block;
}

body {
    padding: 0px;
    margin: 0px;
}